.feed__mode{
    display: flex;
    align-items: center;
    gap: 16px;
		padding-bottom: 5px;
    position: relative;
}

.feed__mode::before{
    content: '';
    background: #000;
    width: 82px;
    height: 1px;
    position: absolute;
    left: 0;
    right: auto;
    bottom: 0;
    transition: all 0.2s ease-in;
}

.help{
    width: 100%;
    max-width: 575px;
    padding: 0 16px;
    height: 40px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 3;
		padding-top: 8px;
		padding-bottom: 50px;
}

.mode2::before{
    width: 79px;
    left: 97px;
}

.feed__title{
    color: var(--grey2-color);
}

.active{
	color: var(--black-color);
}


.feed__title{
    transition: all 0.2s ease-in;
}